<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Hello Angular Engineers!</h1>
  <h2>Welcome to the global Angular Community!</h2>
  <h3>It's Chris here to lead you from day-01!</h3>
  <button (click)= 'getKittens()'>GetKittens</button>

  <app-kitten *ngFor= 'let kitten of kittens' [name]='kitten.name'></app-kitten>


</body>
</html>

<router-outlet></router-outlet>